body {
	margin: 0;
	padding: 0;
  min-width: 300px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  max-width: 768px;
}

h2, h3, h4, h5, h6 {
	margin: 0;
	padding-bottom: 1rem;
}

figure {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 0;
}

figcaption {
  padding-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1;
}

.paper {
	padding: 1rem;
}
